<nav class="position-absolute m-3" style="right: 0">
  <a
    href="/doctor/signInDoctor"
    class="text-decoration-none m-3 text-white fw-bold"
    >Sign In as Doctor <i class="ri-nurse-fill color-white"></i
  ></a>
</nav>
